In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.22.4 in /Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 812.4 kB/s  0:00:13 eta 0:00:01[36m0:00:01
Installing collected packages: pandas
Successfully installed pandas-2.3.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
conda install scikit-learn

Retrieving notices: done
Channels:
 - conda-forge
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.11.1
    latest version: 26.1.0

Please update conda by running

    $ conda update -n base -c conda-forge conda



## Package Plan ##

  environment location: /Users/pandeyraj/miniforge3/envs/tf310

  added / updated specs:
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libgcc-15.2.0              |      hcbb3090_17         393 KB  conda-forge
    libgfortran-15.2.0         |      h07b0088_17         136 KB  conda-forge
    libgfortran5-15.2.0        |      hdae7583_17         585 KB  conda-forge
    numpy-2.2.6                |  py310h4d83441_0         5.6 MB  conda-forge
    scikit-learn-1.7.2         |  py310h660f142_0         7.4 MB  conda-forge
    scipy-1.15.2               |  py310h32ab4ed_0        12.9 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        26.9 MB

The following NEW packages will be INSTALLED:

  _openmp_mutex      conda-forge/osx-arm64::_openmp_mutex-4.5-7_kmp_llvm
  joblib             conda-forge/noarch::joblib-1.5.3-pyhd8ed1ab_0
  libblas            conda-forge/osx-arm64::libblas-3.11.0-5_h51639a9_openblas
  libcblas           conda-forge/osx-arm64::libcblas-3.11.0-5_hb0561ab_openblas
  libgcc             conda-forge/osx-arm64::libgcc-15.2.0-hcbb3090_17
  libgfortran        conda-forge/osx-arm64::libgfortran-15.2.0-h07b0088_17
  libgfortran5       conda-forge/osx-arm64::libgfortran5-15.2.0-hdae7583_17
  liblapack          conda-forge/osx-arm64::liblapack-3.11.0-5_hd9741b5_openblas
  libopenblas        conda-forge/osx-arm64::libopenblas-0.3.30-openmp_ha158390_4
  llvm-openmp        conda-forge/osx-arm64::llvm-openmp-21.1.8-h4a912ad_0
  numpy              conda-forge/osx-arm64::numpy-2.2.6-py310h4d83441_0
  scikit-learn       conda-forge/osx-arm64::scikit-learn-1.7.2-py310h660f142_0
  scipy              conda-forge/osx-arm64::scipy-1.15.2-py310h32ab4ed_0
  threadpoolctl      conda-forge/noarch::threadpoolctl-3.6.0-pyhecae5ae_0



Downloading and Extracting Packages:
scipy-1.15.2         | 12.9 MB   |                                       |   0%
scikit-learn-1.7.2   | 7.4 MB    |                                       |   0%

numpy-2.2.6          | 5.6 MB    |                                       |   0%


libgfortran5-15.2.0  | 585 KB    |                                       |   0%



libgcc-15.2.0        | 393 KB    |                                       |   0%




scipy-1.15.2         | 12.9 MB   |                                       |   0%
scikit-learn-1.7.2   | 7.4 MB    |                                       |   0%


libgfortran5-15.2.0  | 585 KB    | #                                     |   3%



libgcc-15.2.0        | 393 KB    | #5                                    |   4%

numpy-2.2.6          | 5.6 MB    | 1                                     |   0%
scipy-1.15.2         | 12.9 MB   | 3                                     |   1%
scikit-learn-1.7.2   | 7.4 MB    | #                                     |   3%


libgfortran5-15.2.0  | 585 KB    | ########                              |  22%



libgcc-15.2.0        | 393 KB    | ############                          |  33%

scipy-1.15.2         | 12.9 MB   | 7                                     |   2%
scikit-learn-1.7.2   | 7.4 MB    | #9                                    |   5%


scipy-1.15.2         | 12.9 MB   | #3                                    |   4%



libgcc-15.2.0        | 393 KB    | ########################              |  65%


libgfortran5-15.2.0  | 585 KB    | #################################3    |  90%

numpy-2.2.6          | 5.6 MB    | #6                                    |   4%


libgfortran5-15.2.0  | 585 KB    | ##################################### | 100%



libgcc-15.2.0        | 393 KB    | ##################################### | 100%
scikit-learn-1.7.2   | 7.4 MB    | ###                                   |   8%



libgcc-15.2.0        | 393 KB    | ##################################### | 100%



libgcc-15.2.0        | 393 KB    | ##################################### | 100%


scipy-1.15.2         | 12.9 MB   | #7                                    |   5%

scipy-1.15.2         | 12.9 MB   | ##6                                   |   7%
scikit-learn-1.7.2   | 7.4 MB    | ####7                                 |  13%

scipy-1.15.2         | 12.9 MB   | ###1                                  |   8%
scikit-learn-1.7.2   | 7.4 MB    | #####4                                |  15%




libgfortran-15.2.0   | 136 KB    | ####3                                 |  12%




libgfortran-15.2.0   | 136 KB    | ##################################### | 100%

numpy-2.2.6          | 5.6 MB    | #######4                              |  20%




scipy-1.15.2         | 12.9 MB   | ####                                  |  11%
scikit-learn-1.7.2   | 7.4 MB    | #######                               |  19%

numpy-2.2.6          | 5.6 MB    | ########8                             |  24%
scipy-1.15.2         | 12.9 MB   | ####6                                 |  13%

numpy-2.2.6          | 5.6 MB    | ##########                            |  27%
scipy-1.15.2         | 12.9 MB   | #####2                                |  14%

numpy-2.2.6          | 5.6 MB    | ############                          |  33%
scipy-1.15.2         | 12.9 MB   | #####9                                |  16%

scipy-1.15.2         | 12.9 MB   | ######5                               |  18%

numpy-2.2.6          | 5.6 MB    | ##################9                   |  51%
scipy-1.15.2         | 12.9 MB   | #######3                              |  20%

numpy-2.2.6          | 5.6 MB    | #####################1                |  57%
scipy-1.15.2         | 12.9 MB   | #######8                              |  21%

numpy-2.2.6          | 5.6 MB    | #######################3              |  63%
scipy-1.15.2         | 12.9 MB   | ########7                             |  24%

numpy-2.2.6          | 5.6 MB    | ##########################3           |  71%
scipy-1.15.2         | 12.9 MB   | #########2                            |  25%

numpy-2.2.6          | 5.6 MB    | #############################5        |  80%
scipy-1.15.2         | 12.9 MB   | ##########                            |  27%

numpy-2.2.6          | 5.6 MB    | ################################2     |  87%
scipy-1.15.2         | 12.9 MB   | ##########6                           |  29%

numpy-2.2.6          | 5.6 MB    | ##################################5   |  93%
scipy-1.15.2         | 12.9 MB   | ###########1                          |  30%

numpy-2.2.6          | 5.6 MB    | ####################################7 |  99%

numpy-2.2.6          | 5.6 MB    | ##################################### | 100%
scipy-1.15.2         | 12.9 MB   | ###########7                          |  32%
scipy-1.15.2         | 12.9 MB   | ############3                         |  33%
scikit-learn-1.7.2   | 7.4 MB    | ########################9             |  67%

scipy-1.15.2         | 12.9 MB   | ############9                         |  35%
scipy-1.15.2         | 12.9 MB   | #############5                        |  37%
scipy-1.15.2         | 12.9 MB   | ##############2                       |  38%
scipy-1.15.2         | 12.9 MB   | ##############7                       |  40%
scipy-1.15.2         | 12.9 MB   | ###############3                      |  41%
scipy-1.15.2         | 12.9 MB   | ###############8                      |  43%
scipy-1.15.2         | 12.9 MB   | ################3                     |  44%
scipy-1.15.2         | 12.9 MB   | ################8                     |  46%
scipy-1.15.2         | 12.9 MB   | #################3                    |  47%
scikit-learn-1.7.2   | 7.4 MB    | ##################################7   |  94%
scipy-1.15.2         | 12.9 MB   | #################8                    |  48%
scipy-1.15.2         | 12.9 MB   | ##################4                   |  50%
scipy-1.15.2         | 12.9 MB   | #####################1                |  57%
















Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [16]:
## Load dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
## Preprocess the data
## Drop irrelevant column
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [18]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [19]:
## Onehot encode Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [20]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [26]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [27]:
## Save the encoders and sscalers

with open('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb')as file:
    pickle.dump(onehot_encoder_geo,file)

In [28]:
## Divide the dataset into independent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data into training and dtesting sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [30]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [31]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [64]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [65]:
X_train.shape[1]

12

In [66]:
## Build our ann model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32,activation='relu'), ##HL2
    Dense(1,activation='sigmoid') ##Output layer    
])

In [67]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 64)                832

 dense_6 (Dense)             (None, 32)                2080

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [68]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [69]:
## complie the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [70]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [71]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [74]:
### Train the model
import pandas as pd
import numpy as np

print("X_train:", type(X_train))
print("y_train:", type(y_train))
print("X_test :", type(X_test))
print("y_test :", type(y_test))

if isinstance(X_train, (pd.Series, pd.DataFrame)):
    print("X_train index head:", X_train.index[:10])
if isinstance(y_train, (pd.Series, pd.DataFrame)):
    print("y_train index head:", y_train.index[:10])

X_train: <class 'numpy.ndarray'>
y_train: <class 'pandas.core.series.Series'>
X_test : <class 'numpy.ndarray'>
y_test : <class 'pandas.core.series.Series'>
y_train index head: Index([9254, 1561, 1670, 6087, 6669, 5933, 8829, 7945, 3508, 2002], dtype='int64')

In [76]:
import pandas as pd

def force_numpy(x):
    if isinstance(x, (pd.Series, pd.DataFrame)):
        return x.to_numpy()
    return x

X_train = force_numpy(X_train)
y_train = force_numpy(y_train)
X_test  = force_numpy(X_test)
y_test  = force_numpy(y_test)

In [77]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3981 - accuracy: 0.8349 - val_loss: 0.3527 - val_accuracy: 0.8545
Epoch 2/100
250/250 [==============================] - 0s 597us/step - loss: 0.3558 - accuracy: 0.8544 - val_loss: 0.3476 - val_accuracy: 0.8555
Epoch 3/100
250/250 [==============================] - 0s 611us/step - loss: 0.3482 - accuracy: 0.8577 - val_loss: 0.3401 - val_accuracy: 0.8620
Epoch 4/100
250/250 [==============================] - 0s 584us/step - loss: 0.3439 - accuracy: 0.8602 - val_loss: 0.3413 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 0s 589us/step - loss: 0.3393 - accuracy: 0.8636 - val_loss: 0.3456 - val_accuracy: 0.8625
Epoch 6/100
250/250 [==============================] - 0s 605us/step - loss: 0.3362 - accuracy: 0.8633 - val_loss: 0.3392 - val_accuracy: 0.8570
Epoch 7/100
250/250 [==============================] - 0s 586us/step - loss: 0.3337 - accuracy: 0.8655 - val_loss: 0.3465 - val_accuracy: 0.8565
Epoch 8/100
250/250 [==============================] - 0s 580us/step - loss: 0.3313 - accuracy: 0.8646 - val_loss: 0.3520 - val_accuracy: 0.8530
Epoch 9/100
250/250 [==============================] - 0s 577us/step - loss: 0.3294 - accuracy: 0.8646 - val_loss: 0.3458 - val_accuracy: 0.8610
Epoch 10/100
250/250 [==============================] - 0s 588us/step - loss: 0.3286 - accuracy: 0.8651 - val_loss: 0.3530 - val_accuracy: 0.8560
Epoch 11/100
250/250 [==============================] - 0s 577us/step - loss: 0.3285 - accuracy: 0.8674 - val_loss: 0.3402 - val_accuracy: 0.8600

In [79]:
model.save('model.h5')

In [87]:
!pip uninstall -y numpy
!pip install numpy==1.26.4

Found existing installation: numpy 1.26.4
Uninstalling numpy-1.26.4:
  Successfully uninstalled numpy-1.26.4
Collecting numpy==1.26.4
  Using cached numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl.metadata (61 kB)
Using cached numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.2.6
    Uninstalling numpy-2.2.6:
      Successfully uninstalled numpy-2.2.6
Successfully installed numpy-1.26.4

In [88]:
import numpy as np
print(np.__version__)

1.26.4

In [89]:
### Load TensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [92]:
%tensorboard --logdir logs/fit20260209-201837

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
/Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages/tensorboard/default.py:30: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources
Address already in use
Port 6006 is in use by another program. Either identify and stop that program, or start the server with a different port.

In [100]:
%tensorboard --logdir logs/fit20260209-201837 --port 6007

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
/Users/pandeyraj/miniforge3/envs/tf310/lib/python3.10/site-packages/tensorboard/default.py:30: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources
Address already in use
Port 6007 is in use by another program. Either identify and stop that program, or start the server with a different port.

In [101]:
%tensorboard --logdir logs/fit20260209-201837 --port 0